{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6-tablet is-5-desktop">
        <div class="card p-5">
          <h2 class="title is-4 has-text-centered mb-4">Set a New Password</h2>

          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              <div class="field mb-3">
                <label class="label">{{ field.label }}</label>
                <div class="control">
                  {{ field|add_class:"input" }}
                </div>
                {% if field.errors %}
                  <p class="help is-danger">{{ field.errors.0 }}</p>
                {% endif %}
              </div>
            {% endfor %}

            <div class="field is-grouped is-justify-content-center mt-5">
              <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">Reset Password</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
